.btn-bordered {
  padding: 0.8rem 3.2rem;
  background: $text_color-light;
  border: 0.2rem solid $main_color;
  border-radius: 4rem;
  box-shadow:
    0 0.1rem 0.1rem rgba(0 0 0 / 20%),
    0 0 0.4rem rgba(0 0 0 / 16%),
    0 0.2rem 0.4rem rgba(0 0 0 / 16%);

  &--regular {
    @include text($main_color, 400, 1.6rem, 2.4rem);
  }

  &--bold {
    @include text($main_color, 700, 1.8rem, 2.4rem);
  }
}

.btn-colored {
  padding: 0.8rem 3.2rem;
  background: $main_color;
  border-radius: 4rem;
  box-shadow:
    0 0.1rem 0.1rem rgba(0 0 0 / 20%),
    0 0 0.4rem rgba(0 0 0 / 16%),
    0 0.2rem 0.4rem rgba(0 0 0 / 16%);

  &--regular {
    @include text($text_color-light, 400, 1.6rem, 2.4rem);
  }

  &--bold {
    @include text($text_color-light, 700, 1.8rem, 2.4rem);
  }
}
