.content {
  padding: 0 6.4rem 6.4rem;

  @media (max-width: 600px) {
    padding: 0 5rem 6.4rem;
  }

  @media (max-width: 480px) {
    padding: 0 0 6.4rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    gap: 4rem;

    @media (max-width: 1010px) {
      flex-direction: column;
    }
  }
}
