.dish {
  position: relative;
  display: flex;
  max-width: 86.1rem;
  min-width: 100%;
  overflow: hidden;
  border-radius: 0.8rem;

  @media (max-width: 600px) {
    height: 10rem;
  }

  @media (max-width: 480px) {
    height: 6rem;
    border-radius: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.16),
      0px 2px 4px rgba(0, 0, 0, 0.16);
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    @media (max-width: 480px) {
      filter: brightness(40%);
    }
  }

  &__label {
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
    padding: 0.7rem 1.6rem;
    border-radius: 1.6rem;
    box-shadow: 0 0.1rem 0.6rem rgb(0 0 0 / 24%), 0 0.6rem 1.6rem rgb(0 0 0 / 32%);

    @media (max-width: 600px) {
      display: none;
    }

    &--new {
      @include text($text_color-light, 500, 1.4rem, 1.8rem);

      text-transform: uppercase;
      background: $label_color-new;
    }

    &--action {
      @include text($text_color-dark, 500, 1.4rem, 1.8rem);

      background: $label_color-action;
    }
  }

  &__cover {
    position: relative;
    min-width: 18.5rem;

    @media (max-width: 600px) {
      min-width: 15rem;
    }
  }

  &__mobile-title {
    display: none;
    position: absolute;
    @include text($text_color-light, 400, 1.2rem, 1.6rem);
    top: 2.2rem;
    left: 1.6rem;

    @media (max-width: 480px) {
      display: block;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.6rem 1.6rem 0.5rem 4rem;
    background: $secondary_color;
    border-radius: 0 0.8rem 0.8rem 0;

    @media (max-width: 600px) {
      padding: 1.4rem 1.6rem;
    }

    @media (max-width: 480px) {
      border-radius: 0;
      background: $bg_color-light;
      min-width: 17rem;
    }
  }

  &__close-btn {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    @media (max-width: 480px) {
      top: 1.8rem;
    }

    &--cart {
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  &__title {
    @include text($text_color-main, 700, 2.2rem, 3.2rem);

    margin-bottom: 1rem;

    @media (max-width: 670px) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }

  &__description {
    @include text($text_color-secondary, 400, 1.4rem, 2rem);

    padding-bottom: 2.4rem;

    @media (max-width: 670px) {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }
}

.cost {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  align-self: flex-end;

  @media (max-width: 480px) {
    align-self: flex-start;
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: right;

    &--mobile {
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  &__price {
    @include text($text_color-dark, 700, 1.8rem, 2.4rem);

    &--sale {
      color: $text_color-darken;
    }

    @media (max-width: 670px) {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $bg_color-light;
  border: 0.2rem solid $main_color;
  border-radius: 3rem;

  &__minus,
  &__count,
  &__plus {
    @include text($text_color-secondary, 500, 1.8rem, 2.4rem);

    text-align: center;

    @media (max-width: 670px) {
      font-size: 1.6rem;
    }
  }

  &__minus,
  &__plus {
    display: flex;
    justify-content: center;
  }

  &__minus {
    padding: 1rem 1.2rem 1rem 2rem;
    border-right: 0.2rem solid $main_color;

    @media (max-width: 670px) {
      padding: 0.2rem 0.6rem 0.4rem 1.3rem;
    }
  }

  &__plus {
    padding: 1rem 2rem 1rem 1.2rem;
    border-left: 0.2rem solid $main_color;

    @media (max-width: 670px) {
      padding: 0.3rem 1.05rem 0.3rem 0.65rem;
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    min-width: 5.2rem;

    @media (max-width: 670px) {
      min-width: 3.6rem;
    }
  }
}
