mixin btn-bordered(text, font, mod = '')
  button.btn-bordered(class=  'btn-bordered--'+font class= mod )= text

mixin btn-colored(text, font, mod = '')
  button.btn-colored(class=  'btn-colored--'+font class= mod )= text