- var cartDish = [{'title': 'Чизбургер барбекю', 'desc': 'Соус коктейль, фарш из отборной говядины, маринованные огурцы, спелые томаты, сыр моцарелла, сыр чеддер, соус барбекю, хрустящий лук', 'img': '1', 'count': '2', 'sale': '930', 'totalSale': '1860', 'price': '8888', 'totalPrice': '8888'}, {'title': 'Суприм', 'desc': 'Соус томатный, сыр моцарелла, колбаса пепперони, ветчина, лук, сладкий перец, грибной микс, свинина, говядина, оливки черные', 'img': '2', 'count': '1', 'price': '690', 'totalPrice': '690', 'label': 'new'}, {'title': 'Бургер «Два сыра»', 'desc': 'Ароматная котлета из мраморной говядины с сыром чеддер и моцарелла, хрустящим луком, маринованными корнишонами, свежими томатами, соусом коктейль и барбекю в мягкой пшеничной булочке. Картофель и соус приобретается отдельно', 'img': '3', 'count': '3', 'price': '180', 'totalPrice': '540', 'label': 'new'}, {'title': 'Суши Унаги', 'desc': 'Угорь', 'img': '4', 'count': '10', 'price': '120', 'totalPrice': '1200', 'label': 'new'}, {'title': 'Умэ', 'desc': 'Лосось, угорь, сыр «Филадельфия», авокадо', 'img': '5', 'count': '2',  'sale': '420', 'totalSale': '840',  'price': '385', 'totalPrice': '770', 'label': 'new'}];

section.cart
  ul.cart__list
    include _dish.pug
    each item in cartDish
      li.cart__item
        +dish(item)