footer.container.footer
  nav.footer__navigation
    ul.footer__navigation__list
      li.footer__navigation__list__item
    ul.footer__navigation__list 
    ul.footer__navigation__list 
  div.footer__info
    div.footer__social
    div.footer__copyright