- var menu = ['Меню', 'Барное меню', 'Ресторан', 'Акции', 'Блюда за баллы'];
- var services = ['Доставка', 'Отзывы', 'Маленький кондитер', 'Подарочные карты'];
- var about = ['О нас', 'Вакансии', 'События', 'Статьи', 'Контакты'];

mixin navItem(item)
  li.footer__navigation__item
    a(class='footer__navigation__link' href='#' title=`${item}`)= item

footer.container.footer
  nav.footer__navigation
    ul.footer__navigation__list
      each item in menu
        +navItem(item)
    ul.footer__navigation__list
      each item in services
        +navItem(item)
    ul.footer__navigation__list
      each item in about
        +navItem(item)
  div.footer__info
    div.footer__social
      a(href='#')
        img(src="./img/visa.png", alt="visa", width=168, height=40)
      a(href='#')
        img(src="./img/google.png", alt="google", width=135, height=40)
      a(href='#')
        img(src="./img/apple.png", alt="apple", width=120, height=40)
    div.footer__copyright
      p.footer__copyright__text 2004 - 2020 © Vivat Pizza. #[a( class="footer__copyright__text--link" href='#') Договор публичной оферты] 
      p.footer__copyright__text Использование материалов с сайта без нашего ведома незаконно
