header.container
  div.header__container
    a(href="#").logo
      img(src="./img/logo.png", alt="logo", width=225, height=70)
    ul.locations
      each item in [{'place': 'Ховрино', 'phone': "+7 (495) 980-66-22"}, {'place': 'Измайлово', 'phone': "+7 (495) 730-55-66"}, {'place': 'Мытищи', 'phone': "+7 (495) 500-40-40"}, {'place': 'Хор.-Мневники', 'phone': "+7 (495) 980-66-22"}]
        li.locations__item
          div.location
            img(src="./img/icons/marker.svg", alt="location", width=16, height=16).location__icon
            a(href='#' title=`${item.place}`).location__place #{item.place}  #[span.location__time Круглосуточно]
            
          p.location__phone #{item.phone}