ul.mobile-menu
  li.mobile-menu__item
    a(class='mobile-menu__link mobile-menu__link--left', href="#", title='contact')
      img(src="./img/icons/phone.svg", alt="phone")
  li.mobile-menu__item
    a(class='mobile-menu__link  mobile-menu__link--exclude', href="#", title='locations')
      img(src="./img/icons/exclude.svg", alt="exclude")
  li.mobile-menu__item
    a(class='mobile-menu__link', href="#", title='profile')
      img(src="./img/icons/profile.svg", alt="profile")
  li.mobile-menu__item
    a(class='mobile-menu__link mobile-menu__link--right mobile-menu__link--cart' href="#")
      img(class='mobile-menu__icon-cart', src="./img/icons/cart.svg", alt="cart", title='cart')
      span.mobile-menu__cost 4888 ₽