ul.mobile-menu
  li.mobile-menu__item.mobile-menu__item--left
    a(class='mobile-menu__link mobile-menu__link--phone' href="#")
  li.mobile-menu__item
    a(class='mobile-menu__link mobile-menu__link--location' href="#")
  li.mobile-menu__item
    a(class='mobile-menu__link mobile-menu__link--profile' href="#")
  li.mobile-menu__item.mobile-menu__item--right
    a(class='mobile-menu__link mobile-menu__link--cart' href="#") 4888 ₽