aside.sidebar
  h3.sidebar__points +358 баллов
  p.sidebar__info Баллы начисляются в течении двух дней и доступны для использования при заказе от 500 руб. Только для зарегистрированных пользователей. 
  p.sidebar__caution Зарегистрируйтесь или войдите.
  form.promo(action="submit")
    h3.info__title Промокод
    input(type="text", value="Input text").promo__input
    button(type='submit').promo__button Применить
  div.sidebar__coast Сумма заказа: <span class="sidebar__sale">4200<span> 3580 ₽
  button.sidebar__btn Далее