// colors
$bg_color-light: #fff;
$main_color: #cc693e;
$secondary_color: #f1f1f1;
$secondary_color-dark: #b3b3b3;
$label_color-new: #e30029;
$label_color-action: #ffe600;

// text colors
$text_color-main: #000;
$text_color-secondary: #666;
$text_color-light: #ccc;
$text_color-dark: #333;
