doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/main.scss")
    title Vivat Pizza
  body
    include includes/blocks/_header.pug
    main.container
      include includes/blocks/_modal.pug
      include includes/blocks/_status.pug
      include includes/blocks/_content.pug
      include includes/blocks/_recommend.pug
      include includes/blocks/_divider.pug
      include includes/blocks/_total.pug
    include includes/blocks/_footer.pug