doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/main.scss")
    title Vivat Pizza
  body
    include includes/_header.pug
    main.container
      include includes/_status.pug
      include includes/_content.pug
      include includes/_recommend.pug
      include includes/_divider.pug
      include includes/_total.pug
    include includes/_footer.pug